<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">{{title}}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{#user_name}}
                        <li><a href="/player/{{user_name}}">Dashboard</a></li>
                    {{/user_name}}

                    <li><a href="/list">Player List</a></li>
                </ul>
                <div class="pull-right">
                    <ul class="nav pull-right">
                        <ul class="nav pull-right">
                            {{#user_name}}
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Welcome, {{user_name}}  <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/preferences/{{user_name}}"><i class="icon-cog"></i> Preferences</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                            {{/user_name}}
                            {{^user_name}}
                                <li class="dropdown"><a href="/login" class="dropdown-toggle"> Login</a></li>
                            {{/user_name}}
                        </ul>
                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        {{^user_name}}
            <h1>Sign In</h1> <br>
            <p><a href="/login"><input type="submit" class="btn btn-primary btn-large"></a></p>
        {{/user_name}}
        {{#user_name}}
            <h1>{{prefernces}}, {{user_name}}</h1> <br>
            <p><a href="/player/{{user_name}}"><input type="submit" value="Dashboard" class="btn btn-primary btn-large"></a></p>
        {{/user_name}}

    </div>
</div>
</body>
</html>