<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
	<script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">{{title}}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{#user_name}}
                        <li><a href="/player/{{user_name}}">Dashboard</a></li>
                    {{/user_name}}
                    <li><a href="/list">Player List</a></li>
                </ul>
                <div class="pull-right">
                    <ul class="nav pull-right">
                        {{#user_name}}
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">   Welcome, {{user_name}}  <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/preferences/{{user_name}}"><i class="icon-cog"></i> Preferences</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                                </ul>
                            </li>
                        {{/user_name}}
                        {{^user_name}}
                            <li class="dropdown"><a href="/login" class="dropdown-toggle"> Login</a></li>
                        {{/user_name}}
                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
	{{#players}}
	<div class="container">

        <div class="hero-unit">
            <h1><span id="name" style="word-wrap: break-word;">{{user_name}}</span></h1>

            <h3>Level: <span id="level">{{level}}</span></h3>

            <h4>EXP: <span id="experience">{{exp}}</span> /<span id="experience_req">{{exp_required}}</span></h4>
            <div class="progress progress-striped active">
                <div class="bar" id="levelProgress"></div>
            </div>
            <form action="/player/{{user_name}}/add_exp" method="post">
                <input type="hidden" value="25" name="experience_gain">
                <p><a id="exp" class="btn btn-primary btn-large">+25</a></p>
            </form>
        </div>
        <div class="span6">
            <div class="well">{{todos}}</div>
        </div>
        <div class="span6">{{todos}}</div>
	</div>
	{{/players}}
    <script type="text/javascript">
        var user_name;
        $(document).ready(function(){
            user_name = $("#name").html();
            $("#levelProgress").css("width", function(){
                var exp = Number($("#experience").text());
                var expReq = Number($("#experience_req").text());
                var levelProg = exp / expReq * 100;
                return levelProg + "%";
            });
        });

        $('#exp').click(function(e) {
            e.preventDefault();
            var data =  {experience_gain : "25"};
            $.post("/player/"+user_name+"/add_exp", data,  function(player){
                $("#experience").html(player.exp);
                $("#experience_req").html(player.exp_required);
                $("#level").html(player.level);

                $("#levelProgress").css("width", function(){
                  var levelProg = player.exp / player.exp_required * 100;
                  return levelProg + "%";
                });

            });
        });

    </script>
</body>
</html>